// video component
@import "~video-react/styles/scss/video-react";


html,
body {
  margin:0;
  padding:0;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  // color: #fff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1 {
  color: #000;
}

.main-root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

// lang's switcher(select)
/* Reset Select */
.selectLangs {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #3f51b5;
  background-image: none;
}
/* Remove IE arrow */
.selectLangs::-ms-expand {
  display: none;
}
/* Custom Select */
.selectLangs {
  position: relative;
  display: flex;
  width: 6em;
  height: 3em;
  line-height: 3;
  background: #3f51b5;
  overflow: hidden;
  border-radius: .25em;
}
.selectLangs {
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
}
/* Arrow */
.selectLangs::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #3f51b5;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.selectLangs:hover::after {
  color: #f39c12;
}
