.swiper-container {
	width: 80%;
}
.swiper-wrapper {
	overflow-y: auto;
	height: 100%;
}
.swiper-slide {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
