.swiper-container {
	height: 80%;
	width: 80%;
}
.swiper-wrapper {
	background: #000;
	overflow-y: auto;
	height: 100%;
}
.swiper-slide {
	width: 100%;
	height: 100%;
	display: flex;
	justify-items: center;
	align-items: center;
	background: rgb(230, 127, 127);
}
